@media only screen and (max-width: 1300) {

	#footer p {		
		font-size: 55%;
	}

	#pic {
		width: 100%;
	}

.button1 {
    width:50px;
    height:50px;
    font-size:10px;
    line-height:25px;
}
.button2 {
    width:50px;
    height:50px;
    font-size:10px;
    line-height:25px;
}
.button3 {
    width:50px;
    height:50px;
    font-size:10px;
    line-height:25px;
}



}
