.background {
	background-color: #E0EBEB;
}
/*
.entire {
	margin-left: 50px;
	margin-right: 50px;
	padding-right: 50px;
	padding-left: 50px;
	padding-top: 5px;
	padding-bottom: 50px;
	background-color: #E0EBEB;
	font-family: 'Droid Serif', serif;
}
*/
#name {
	color: #669900;
	font-size: 60px;
	padding-bottom: 60px;
	text-align: center;
	font-family: 'Crushed', cursive;
	display: block;
	position: relative;
	bottom: -50px;
}


#social {
	text-align: center;
}

.addline {
	padding-bottom: 10px;
	border-bottom-style: solid;
	border-color: #669900;
}

.col-md-8 {
	padding-top: 25px;
}

.work {
	padding-top: 20px;
}

.address {
	display: block;
	position: relative;
	bottom: -50px;
	color: #669900;
	font-size: 20px;
}

p {
	text-align: center;
	font-size: 13px;
  font-family: 'Droid Serif', serif;
}

h2 {
	text-align: center;
}

a:hover {
	font-weight: bold;
	color:#FF7519;
}

a {
	color:#669900;

}
a:visited {
    color:#669900;
}

.button {
    display:inline-block;
    width:100px;
    height:100px;
    border-radius:50px;
    font-size:20px;
    color:white;
    line-height:100px;
    text-align:center;
    background:#669900;
}

a.button {
	color :white;
}

#resume p {
	text-align: left;
}

#resume h2 {
	text-align: left;
}

#resume h1 {
	text-align: left;
}


#footer {
	font-size: 12px;
  font-family: 'Droid Serif', serif;
	color: #669900;
	text-align: center;
}

#footer p:first-of-type{
	position: relative;
	padding-top: 25px;
}



