
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link href='https://fonts.googleapis.com/css?family=Crushed' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
			<link rel="stylesheet" type="text/css" href="/css/responsive.css">
		</head>
		<body>
			<div class="entire">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:heydjm@comcast.net">email</a></li>
	        		<li><a href="https://github.com/jmheyd">github.com/jmheyd</a></li>
				</ul>
			</footer>
			</div>
		</body>
	</html>
 
