
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			
			<link href='https://fonts.googleapis.com/css?family=Crushed' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
			<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
			<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
			<link rel="stylesheet" type="text/css" href="/css/responsive.css">
		</head>
		<body>
	
			<nav>
	    		<ul>
	        		<li><a href="/" class="button1" >Home</a></li>
	        		<li><a href="/../resume.html" class="button2">Resume</a></li>
	        		<li><a href="/blog" class="button3" >Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			<div id="footer">
	        		<p><a href="mailto:heydjm@comcast.net">heydjm@comcast.net</a> | 1447 Idaho Ave W, Falcon Heights, MN 55108 | Tel: (651) 642-9562</p>
	    		</div>
			 <div id="social">
	    			<a href="http://github.com/jmheyd"><img src="images/GitHub-Mark-32px.png" height="32px" width="32px"/></a>
	    			<a href="http://www.linkedin.com/in/juliemheyd"><img src="images/linkedin-circle.png" height="32px" width="32px"/></a>
    			</div>
	
		</body>
	</html>
 
